{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-genericPage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% image page.banner_image fill-1400x300 %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" style="width: 100%; height: auto">
    <h1>Hello Generic page!</h1>
    <h3>{{ page.banner_title }}</h3>

    <p>{{ page.introduction }}</p>

    {% image page.author.image fill-100x100 %}
    <p>Page created by {{ page.author.name }} from {{ page.author.company_name }}</p>
    {% if page.author.company_url %}
        <a href="{{ page.author.company_url }}">View website</a>
    {% endif %}
    <hr>
    {% include_block page.body %}


{% endblock content %}
