{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-4xl my-5">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a class="text-blue-500" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="bg-green-600 hover:bg-green-800 rounded my-2 p-2 text-white">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
